<!DOCTYPE html>
<html>
<head>
  <title>Meow BnB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<%= current_user.nil? ? (link_to "sign in", new_session_url) : current_user.user_name %>
<%= current_user.nil? ? nil : (button_to "log out", session_url, method: :delete) %>
<%#= render partial: 'layouts/errors' %>
<%#= render partial: 'layouts/notices' %>
<%= yield %>

</body>
</html>
