<!DOCTYPE html>
<html>
<head>
  <title>Meow BnB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<%= render partial: 'errors' %>
<%= render partial: 'notices' %>
<%= yield %>

</body>
</html>
